#map {
    width: 98vw;
    height: 96vh;
    float: right;
}

#postcodebox {
    float: left;
    width: 70vw;
    margin: 0;
    background-color: black;
    color: white;

}
#submitbutton {
    width: 19vw;
    padding-top: 0.5vh;
    background-color: black;
    color: white;
}

body {
	background-color: black
}