#map {
    width: 98vw;
    height: 92vh;
    float: right;
}

#postcodebox {
    float: left;
    width: 70vw;
    height: 8vh;
    margin: 5px;
    float: left;
    background-color:  #666666;
    color: white;
}

#postcodebox::placeholder {
	color: white;
}

#submitbutton {
    width: 19vw;
	height: 8vh;
	margin: 5px;
	float: right;	
    background-color:  #666666;
    color: white;
}

body {
	background-color: #1a1a1a;
}